*{
    margin: 0;
    padding: 0;
    background-color: #0a192f;
    color: #70dabf;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

#home{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#intro, #hero{
    background: transparent;
}

#intro > p{
    background: transparent;
    font-size: 30px;
}
#hero > svg{
    height: 400px;
    width: 400px;
    background: transparent;
}

#about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 10% 0;
    align-items: center;
}

#about > #image > img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10%;
}

#detail {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

#detail  button{
    display: inline;
    padding: 10px;
    background-color: #14e956;
    color: #0a192f;
    font-weight: 700;
    border: 2px solid #14e956;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    width: 100px;
}

.aboutCard{
    background-color: rgba(240, 248, 255, 0.132);
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.aboutCard p,.aboutCard  span,.aboutCard a{
    background: transparent;
    font-size: 20px;
}



@media only screen and (max-width: 426px){
    #hero > svg{
        height: 300px;
        width: 300px;
        background: transparent;
    }
    #intro{
        margin: 15vh 0;
    }
}

@media only screen and (min-width: 425px){
    #home{
        margin-top: 20vh;
    }
}

@media only screen and (max-width: 700px){
    #home{
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px){

    #detail {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}